/* fontes da página */

@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');


/*font-family: "Odor Mean Chey", serif;*/
/*   font-family: "Moulpali", sans-serif; */
/* font-family: "Jomhuria", serif; */

/* cores do site
#0060B6
#D2ECFF
#0077FF
#4CAF50
#9ED7FF
*/


.editarPerfil {
    background-color: white;
    box-shadow: 0 0 .5rem black;
    margin: 10rem 5rem;
    border-radius: 2rem;
    height: rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.editarPerfil img {
    width: 30rem;
    position: relative;
    left: -10rem;
    
}

.informacoes p {
    margin: 2rem;
    padding: .5rem 1rem;
    background-color: #4CAF50;
    border-radius: 1rem;
    width: 70rem;
    font-size: 2rem;
    font-family: "Moulpali", sans-serif;
}