/* fontes da página */

@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');


/*font-family: "Odor Mean Chey", serif;*/
/*   font-family: "Moulpali", sans-serif; */
/* font-family: "Jomhuria", serif; */

/* cores do site
#0060B6
#D2ECFF
#0077FF
#4CAF50
#9ED7FF
*/


.cadastrar {
    box-shadow: 0 0 .7rem rgb(0, 124, 143);
    background-color: #9ED7FF;
    width: 45rem;
    height: 60rem;
    gap: 1rem;
}

.erro h3{
    text-align: center;
    font-family: "Jomhuria", serif;
    color: #DD0000;
    font-size: 2.5rem;
    font-weight: 100;
    padding: .5rem 1rem;
}

.erro {
    margin: 1rem;
    font-size: 1.5rem;
    background-color: #ffceb1;
    border: .1rem solid #DD0000;
    border-radius: 1rem;
}

.alert p {
    text-align: center;
    font-family: "Moulpali", sans-serif;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 100;
}

.cadastrar h2{
    font-family: "Odor Mean Chey", serif;
    font-size: 4rem;
    color: #0060B6;
}

label {
    font-family: "Moulpali", sans-serif;
    font-size: 2rem;
    color: #00417a;
}

span {
    color: #4CAF50;
    font-family: "Moulpali", sans-serif;
    font-size: 1.5rem;
}

.enviar {
    margin: 1.5rem 0;
    width: 18rem;
    font-family: "Odor Mean Chey", serif;
    cursor: pointer;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    padding: .5rem 1rem;
    color:white;
    border: 2px solid #0a66c2;
    background-color: #0a66c2;
}

.enviar:hover {
    color: #0a66c2;
    background-color: white;
}

.log{
    font-family: "Moulpali", sans-serif;
    color:#0a66c2;
    font-size: 1.5rem;
    text-decoration: none;
}