<html>
    <head>
        <title>cadastro</title>
    </head>
    <body>
        <h2>Cadastro</h2>
        <form method=POST>
            <p>Nome</p>
            <input></input>
            <p>Email</p>
            <input></input>
            <p>Senha</p>
            <input></input>
            <a href="file:///C:/Users/Pietr%C3%A3oTunado/workspace-chat/chat-tradutor-2/chat-tradutor/src/main/resources/templates/login.html">enviar</a>
            <a href="/login"><button>enviar</button></a>
        </form>
    </body>
</html>
