<html>
    <head>
        <title>cadastro</title>
    </head>
    <body>
        <!--- As tags <br> sao temporarias remover quando criar o .css-->
       <div>  <!--- Div box cadastro-->
        <h2>Cadastro</h2> <!-- colocar em ingles temp-->
            <form method="post">
            <div> <!--- div para o campo usuario-->
                <label for="username">User name</label><br>
                <input type="text" name="name" id="username" placeholder="Write your name here!">
            </div>
            <div> <!-- div para o campo usuario-->
                <label for="email">E-mail</label><br>
                <input type="email" name="email" id="email" placeholder="Write your email here!">
            </div>
            <div>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" placeholder="Write your password here!">
            </div>
            <div> <!--- Div para o campo de dropbox-->
                <select name="nationality" id="nationality">
                    <option value="pt-BR">Português (Brasil)</option>
                    <option value="en-US">English (United States)</option>
                    <option value="ja-JP">日本語 (日本)</option>
                    <option value="ru-RU">Русский (Россия)</option>
                    <option value="ar-SA">العربية (السعودية)</option>
                    <option value="ko-KR">한국어 (대한민국)</option>
                </select>

            </div>
            <!-- possivel futura confirmacao de cadastro-->
            <button type="submit">Enviar</button><br>
                <!---->
            <a href="/login">Ja tem uma conta? Click aqui para fazer login</a>
            <a href="/">Voltar a pagina principal</a>
            </form>
       </div>
    </body>
</html>
