<html>
    <head>
        <title>Rooms</title>
    </head>
    <body>
        <!--- As tags <br> sao temporarias remover quando criar o .css --->
       <div>  <!--- Div box cadastro -->
        <h2>Rooms</h2> <!-- colocar em ingles temp -->
            <form method="post">
            <div> <!--- Campo temporario Em breve tera forma de click por nome de lista -->
                <label for="username">Name Room</label><br>
                <input type="text" name="name" id="name" placeholder="Write the list here!">
            </div>
            <button type="submit">Entry in List</button>
            </form>
            <a href="rooms/create"><button type="button">Create new room</button></a><br>
            <a href="/"><button type="submit">Go back to home page</button></a><br>
       </div>
    </body>
</html>
