<html>
    <head>
        <title>Rooms</title>
    </head>
    <body>
        <!--- As tags <br> sao temporarias remover quando criar o .css --->

        <h2>Rooms Avaible</h2>
    
        <!-- Leituro de registros do banco, le e lista em .html -->
        <div th:each="room : ${roomsList}" style="margin-bottom: 10px;">
            
            <!-- Com estilo basico para teste  -->
             
            <!-- <a th:href="@{/room/{roomId}(roomId=${room.id})}" style="padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
           
                <span th:text="${room.name}">Nome da Sala</span><br>
                <span th:text="${room.description}">Nome da Sala</span><br>

            </a> -->

            <!-- Padrao limpo sem style -->

            <a th:href="@{/room/{roomId}(roomId=${room.id})}">
           
                <span th:text="${room.name}">Nome da Sala</span><br>
                <span th:text="${room.description}">Nome da Sala</span><br>

            </a>

        </div>

            <p><a th:href="@{/rooms/create}"><button type="button">Criar uma  nova Sala</button></a></p>
            <p><a th:href="@{/rooms/remove}"><button type="button">Apagar sala</button></a></p>
            <p><a th:href="@{/rooms/myaccount}"><button type="button">My Account</button></a></p>

       </div>
    </body>
</html>
