<html>
    <head>
        <title>Remove</title>
    </head>
    <body>
        <!--- As tags <br> sao temporarias remover quando criar o .css --->
       <div>  <!--- Div box cadastro -->
        <h2>Remove room</h2> <!-- colocar em ingles temp -->
            <form method="post">
            <div> <!--- Campo temporario Em breve tera forma de click por nome de lista -->
                <label for="username">Name Room</label><br>
                <input type="text" name="name" id="name" placeholder="Write the name room here!">
            </div>
            <div> <!--- Campo temporario Em breve tera forma de click por nome de lista -->
                <label for="idDoCampo">Tem certeza que deseja remover essa sala?</label>
                <input type="checkbox" id="checkbox" name="isConfirmed" value="true">
            </div>
            <button type="submit">Delete Room</button>
            </form> 
            <a href="/rooms"><button type="button">Back to rooms</button></a><br>
       </div>
    </body>
</html>
