<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Tela_Inicial/style.css">
    <link rel="stylesheet" href="/css/CriarRemover/remove.css">
    <title>Remover sala</title>
</head>
<body>
    <header>
        <a href="/">
            <div class="logo">
                <figure><img src="/img/CriarRemover/Imagens/logo.png" alt="Logo GlobalSpeak"></figure>
                <p>GlobalSpeak</p>
            </div>
        </a>
        <a href="/rooms/myaccount"><button>Minha conta</button></a>
    </header>

    <main>
        <!--- As tags <br> sao temporarias remover quando criar o .css --->
           <div class="cadastro">  <!--- Div box cadastro -->
            <h2>Remove room</h2> <!-- colocar em ingles temp -->
                <form method="post">
                    <div th:if="${deleteRoomError}" class="alert alert-danger erro">
                        <h3>Falha de Regra de Negócio</h3>
                        <p th:text="${deleteRoomError}"></p></div>
                    <div th:if="${deleteRoomConfirm}" class="alert alert-danger certo">
                        <h3>Sucesso!</h3>
                        <p th:text="${deleteRoomConfirm}"></p>
                    </div>
                    <div> <!--- Campo temporario Em breve tera forma de click por nome de lista -->
                        <label for="username">Nome da Sala</label>
                        <input type="text" name="name" id="name" placeholder="Write the name room here!">
                    </div>
                    <div class="remov"> <!--- Campo temporario Em breve tera forma de click por nome de lista -->
                        <label class="rem" for="idDoCampo">Tem certeza que deseja remover essa sala?</label>
                        <input type="checkbox" id="checkbox" name="isConfirmed" value="true">
                    </div>
                    <button class="btn" type="submit">Remover</button>
                </form>
                <a href="/rooms"><button class="dois" type="button">Voltar para a lista</button></a>
           </div>
    </main>

    <footer>
        <div class="redes">
                <a href="">
                    <figure><img src="/img/CriarRemover/Redes sociais/instagram.png" alt="instagram"></figure>
                </a>
                <a href="">
                    <figure><img src="/img/CriarRemover/Redes sociais/twitter.png" alt="twitter"></figure>
                </a>
                <a href="">
                    <figure><img src="/img/CriarRemover/Redes sociais/face.png" alt="facebook"></figure>
                </a>
                <a href="">
                    <figure><img src="/img/CriarRemover/Redes sociais/whatsapp.png" alt="whatsapp"></figure>
                </a>
            </div>
            <div class="institucional">
                <p><span>SENAI Tatuapé - "Frederico Jacob"</span> <br>
                    Rua São Jorge, 634 - Tatuapé - São Paulo/SP | CEP 03087-000
                </p>
                <p><span>CENTRAL DE RELACIONAMENTO</span> <br>
                    (11) 2227-8020 (Telefone/WhatsApp) <br>
                    senaimanutencao@sp.senai.br
                </p>
            </div>
            <div class="devsCopyright">
                <P>Devs: Isabelle C. F., Pietro, Dylan, Joyce e Willian</P>
                <p>© 2025 SENAI. Todos os direitos reservados.</p>
            </div>
    </footer>
</body>
</html>