<html>
    <head>
        <title>Update</title>
    </head>
    <body>
        <!--- As tags <br> sao temporarias remover quando criar o .css --->
       <div>  <!--- Div box cadastro -->
        <h2>Update Room</h2> <!-- colocar em ingles temp -->
            <form method="post">

                <!-- //// DIV de aviso de ERRO -->
            <div th:if="${updateRoomError}" class="alert alert-danger">
                <h3>Falha de Regra de Negócio</h3>
                <p th:text="${updateRoomError}"></p>
            </div>

            <!-- //// DIV de aviso de ALERTA /// -->

            <div th:if="${updateRoomAlert}" class="alert alert-danger">
                <h3>Alerta</h3>
                <p th:text="${updateRoomAlert}"></p>
            </div>

            <!-- /// DIV de aviso de sucesso! /// -->
            <div th:if="${updateRoomConfirm}" class="alert alert-danger">
                <h3>Sucesso!</h3>
                <p th:text="${updateRoomConfirm}"></p>
            </div>

            <div> 
                <label for="username">Name Room</label><br>
                <input type="text" name="oldname" id="oldname" placeholder="Write the name room here!">
            </div>

            <div>
                <label for="username">Name Room</label><br>
                <input type="text" name="name" id="name" placeholder="Write the name room here!">
            </div>

            <div>
                <label for="username">Description Room</label><br>
                <input type="text" name="description" id="description" placeholder="Write the description of room here!">
            </div>
            <button type="submit">Update Room</button>
            </form>
            <a href="/rooms"><button type="submit">Back to rooms</button></a><br>
       </div>
    </body>
</html>
