<html>
    <head>
        <title>Create</title>
    </head>
    <body>
        <!--- As tags <br> sao temporarias remover quando criar o .css --->
       <div>  <!--- Div box cadastro -->
        <h2>Create Room</h2> <!-- colocar em ingles temp -->
            <form method="post">

            <div th:if="${createRoomError}" class="alert alert-danger">
                <h3>Falha de Regra de Negócio</h3>
                <p th:text="${createRoomError}"></p>
            </div>

            <div th:if="${createRoomConfirm}" class="alert alert-danger">
                <h3>Sucesso!</h3>
                <p th:text="${createRoomConfirm}"></p>
            </div>

            <div> <!--- div para o campo usuario-->
                <label for="username">User name</label><br>
                <input type="text" name="name" id="username" placeholder="Write your name here!">
            </div>

            <div>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" placeholder="Write your password here!">
            </div>
            
              <div> <!--- Div para o campo de dropbox-->
                <select name="nationality" id="nationality">
                    <option value="pt-BR">Português (Brasil)</option>
                    <option value="en-US">English (United States)</option>
                    <option value="ja-JP">日本語 (日本)</option>
                    <option value="ru-RU">Русский (Россия)</option>
                    <option value="ar-SA">العربية (السعودية)</option>
                    <option value="ko-KR">한국어 (대한민국)</option>
                </select>

            </div>
            <button type="submit">Alterar info</button>
            </form>
            <a href="/rooms/myaccount"><button type="button">Voltar para My Account</button></a><br>
       </div>
    </body>
</html>
